<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Lost Pets Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/basic.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/database">Database</a></li>
                    <li class="nav-item"><a class="nav-link" href="/info">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Post My Pet!</h1>
                <p class="lead mb-0">Helping you reunite with your furry friends</p>
            </div>
        </div>


        <section id="about" class="about-container" style="text-align: center; margin: 0 auto;">
            <h2 style="color: #000000;">About Us</h2>
            <p style="margin-bottom: 20px;">
                Post Your Pet is a community-driven platform dedicated to helping pet owners reunite with their lost
                furry companions.
                Our mission is to provide a centralized and accessible space for sharing information about lost pets,
                connecting pet owners,
                and facilitating the joyful reunions of pets with their families.
            </p>
            <p style="margin-bottom: 20px;">
                Our platform is designed with simplicity and effectiveness in mind. Whether you're searching for your
                lost pet or want to help
                a pet find its way home, Lost Pets Finder is here to support you. Together, we can make a difference in
                the lives of pets and their owners.
            </p>

        </section>


    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries -->
            <div class="col-lg-8">
                <!-- Nested row for non-featured blog posts -->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post for Hailey Aguiar -->
                        <div class="card mb-4">
                            <!-- Image -->
                            <a><img class="card-img-top" src="/public2/haileypicture.png" alt="A picture of Hailey Aguiar" /></a>
                            <div class="card-body">
                                <h2 class="card-title h4">Hailey Aguiar</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            </div>
                        </div>
                        <!-- Blog post for Ethan Hoopes -->
                        <div class="card mb-4">
                            <!-- Image -->
                            <a><img class="card-img-top" src="/public2/ethanpicture.png" alt="A picture of Ethan Hoopes" /></a>
                            <div class="card-body">
                                <h2 class="card-title h4">Ethan Hoopes</h2>
                                <p class="card-text">I love dogs and all other kinds of pets. I have recently developed a keen respect for dogs though because of the loyalty and respect they have for their owners.
                                    We created this project as a way for you to continute your loving relationship with your pet. I pray for you and your furry little friend.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post for Caden Baird -->
                        <div class="card mb-4">
                            <!-- Image -->
                            <a><img class="card-img-top" src="/public2/brianpicture.png" alt="A picture of Caden Baird" /></a>
                            <div class="card-body">
                                <h2 class="card-title h4">Brian Stone</h2>
                                <p class="card-text">Having pets throughout my life I know pets are part of the family. Because of this, we decided to create this website in hope of helping these lost pets return to their owners!</p>
                            </div>
                        </div>
                        <!-- Another Blog post for Caden Baird -->
                        <div class="card mb-4">
                            <!-- Image -->
                            <a><img class="card-img-top" src="/public2/cadenpicture.png" alt="A picture of Caden Baird" /></a>
                            <div class="card-body">
                                <h2 class="card-title h4">Caden Baird</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Add content for the right column if needed -->
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Post My Pet</p>
    </div>
</footer>

</html>